/* Same as before with additions and media query for mobile responsiveness */

body {
  background-color: 	#222222; /* BackGround color */
}



h1 {
  font-family: Arial, sans-serif;
  text-align: center;
}


h1 img {
  max-width: 100%;
  height: auto;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Set min/max width for square */
  gap: 20px; /* Adjust gap size as desired */
}

.menu-card {
  background-color: #999998;
  border-radius: 5px;
  padding: 15px;
  /* Remove fixed width; grid will determine size */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  margin-top: 10px;
  color: white; /*  ---------------------*/
}

.menu-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.menu-card h2 {
  font-size: 18px;
  margin-bottom: 5px;
  
}

h2 {
  color: white;  /*----------------------*/
}


.menu-card p {
  font-size: 14px;
  line-height: 1.5;
}

.order-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  width: 300px;
  display: none;
  z-index: 1000;
  font-size: 13px;
}


#order-list {
  list-style: none;
  padding: 0;
}

#order-list li {
  margin-bottom: 5px;
}

.order-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-list li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.order-list li button:hover {
  color: red;
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 768px) {
  .menu-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns on mobile */
  }
}
.delete-button {
  margin-left: 25px ; /* Adjust the margin as needed */
  /*color: #f00; /* Adjust color as needed */
  cursor: pointer;
  border-radius: 50px;
  background-color: white;
  background-image: url('images/deleteButton.png');
  background-size: contain; /* or cover, or set specific dimensions */
  width: 25px; /* Set the width */
  height: 25px; /* Set the height */
  align-items: center;
  border: none;
}

.red {
  color: red;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  grid-gap: 10px; /* Gap between items */
}

.category-title {
  grid-column: 1 / -1; /* Span the full width of the grid */
  margin-top: 20px; /* Space above the category title */
  text-align: center; /* Center-align the text */
}

.menu-card {
  display: flex;
  flex-direction: column;
}

.menu-card img {
  width: 100%; /* Ensure images fill the card */
}

.menu-card button {
  margin-top: auto; /* Push the button to the bottom of the card */
}

@media (max-width: 768px) {
  .menu-container {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row on mobile */
  }
}

html,
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0;
  padding: 0;
}

.buttons-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
  scroll-snap-type: x mandatory; /* Snap to each button */
  width: 100vw; /* Full width of the viewport */
  padding: 10px 0; /* Add some padding */
}

.button-wrapper {
  flex: 0 0 100vw; /* Each button takes the full width of the viewport */
  scroll-snap-align: start; /* Snap to the start of each button */
  padding: 0 5px; /* Add some space between buttons */
}

.buttons-container button {
  width: 150px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 5px;
}


.button-wrapper span {
  display: block; /* Display the text as a block element */
  margin-top: 5px; /* Add some space between the button and text */
  font-size: 18px;
  color: white;
  
}


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-wrapper button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.button-wrapper button img {
  width: 120.4px;
  height: 128 px;
  border-radius: 5px; /* Optional: Adds rounded corners to the image */
}

.button-wrapper span {
  margin-top: 5px;
}



.floating-button:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .floating-button {
    bottom: 10px;
    right: 10px;
    width: 75px;
    height: 75px;
    font-size: 20px;
  }
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #D2D7D3   ;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-image: url('images/orderButton.png');
  background-size: contain; /* or cover, or set specific dimensions */
  width: 70px; /* Set the width */
  height: 70px; /* Set the height */
  align-items: center;
}


.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  z-index: 9999;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card.active {
  display: block;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}
.menu-card-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#order-list {
  max-height: 200px; /* 7 items * 32px height per item */
  overflow-y: auto;
}

#order-container {
  font-family: 'Your Chosen Font', sans-serif; 
  font-size: 12px;
}

#order-list li {
  font-family: 'Arial', sans-serif; /* Replace 'Your Chosen Font' with the actual font name */
  font-size: 21px;
  font-weight: 500;
}

#send-order {
  background-color: #4CAF50; /* Green background */
  border: none;
  color: white; /* White text color */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* Font size */
  padding: 10px 20px; /* Padding */
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
}

#send-order:hover {
  background-color: #45a049; /* Darker green background on hover */
}

.go-to-arabic {
  background-color: #D2D7D3; /* Button background color */
  color: black; /* Button text color */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  float: right; /* Float the button to the right */
  margin: 20px 20px 0 0; /* Add margin for spacing */
}

.go-to-arabic:hover {
  background-color: #0056b3; /* Button background color on hover */
}

.fa-language {
  margin-right: 5px; /* Space between icon and text */
}

#logo {
  fill: white; /* Change the fill color to white */
}
